<div class="comment">
  {{#each question.answers as |answer|}}
    <h4>{{answer.author}}</h4>
    <p>{{answer.content}}</p>


    {{#if updateAnswerForm}}
        <div>
          <form>
            <div class="form-group">
              <label for="author">Author</label>
              {{input value=author id="author" placeholder=answer.author}}
            </div>

            <div class="form-group">
              <label for="content">Content</label>
              {{textarea rows="4" cols="30" value=content id="content" placeholder=answer.content}}
            </div>
            <button {{action 'updateAnswer' answer}}>Save Answer</button>
          </form>
        </div>
    {{else}}
        <button {{action 'updateAnswerForm'}}>Edit Answer</button>
    {{/if}}

    <button {{action 'deleteAnswer' answer}}>Delete Answer</button>
  {{/each}}
</div>
