<div class="comment">
  {{#each question.answers as |answer|}}
    <h4>{{answer.author}}</h4>
    <p>{{answer.content}}</p>


    <!-- {{#if updateCommentForm}}
        <div>
          <form>
            <div class="form-group">
              <label for="author">Author</label>
              {{input value=author id="author" placeholder=comment.author}}
            </div>

            <div class="form-group">
              <label for="body">Type</label>
              {{textarea rows="4" cols="30" value=body id="body" placeholder=comment.body}}
            </div>
            <button {{action 'updateComment' comment}}>Save Comment</button>
          </form>
        </div>
    {{else}}
        <button {{action 'updateCommentForm'}}>Edit Comment</button>
    {{/if}}

    <button {{action 'deleteComment' comment}}>Delete Comment</button> -->
  {{/each}}
</div>
